

#map{
    height:100vh;
    border:1px solid black ;
    position:relative
    
  }

  #singaporelogo{
    background-color: rgba(0, 0, 0, 0);
  }

  #carouselExampleIndicators{
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center
  }

  #carouselimage{
    background-color: black;
  }

.change{
  opacity:0.7
}

  



  #home-search-container{
    position:absolute;
    z-index: 314159;
    /* /* top: 200px; */
    /* left: 500px; */ */

  }

  #container{
    position: relative;
    
  }

#info-tab{
  position:absolute;
    z-index: 315000;
    bottom: 10px;
    left:2px

}

.nav-item{
  
  /* background-color: white */
}

.fa-search{
  padding-left: 5px;

}

.fa-taxi{
  padding-left: 5px;
}

.input-group-text{
  color: mediumslateblue;
}

.nav-link{
  color: mediumslateblue !important
}
  #remove-search{
    position:absolute;
    z-index: 315000;
    top: 110px;
    left: 50px

  }

  .mytaxiIcon{
    text-align: center;
    /* Horizontally center the text (icon) */
    line-height: 20px;
    /* Vertically center the text (icon) */
    font-size: 20px
  }
  
  
  .myhawkerIcon {
    color: rgb(255, 183, 3);
    text-align: center;
    /* Horizontally center the text (icon) */
    line-height: 20px;
    /* Vertically center the text (icon) */
    /* font-size: 20px; */
    
  }
  
  .myhotelIcon{
  color:darkblue ;
  text-align: center;
    /* Horizontally center the text (icon) */
  line-height: 20px;
    /* Vertically center the text (icon) */
    font-size: 18px;
  }

  .allhotelsIcon{
  color:green ;
  text-align: center;
    /* Horizontally center the text (icon) */
  line-height: 20px;
    /* Vertically center the text (icon) */
    font-size: 10px;
}

  .myresturantsIcon{
    color:orangered;
    text-align: center;
      /* Horizontally center the text (icon) */
    line-height: 20px;
      /* Vertically center the text (icon) */
      font-size: 12px;

  }
  
  .myattractionsIcon{
    color:darkmagenta ;
    text-align: center;
      /* Horizontally center the text (icon) */
    line-height: 20px;
  }


  #toggle{
    z-index: 314159;
    max-width:200px; 
    max-height:800px;
    /* background-color: rgba(217, 210, 210, 0.82); */
    top: 5px;
    left: 50px;
    
  }
  
  #search_container{
    position: absolute;
    z-index: 314159;
    max-width:190px; 
    max-height:800px;
    background-color: lightgrey;
    top: 10px;
    left: 50px;
    cursor: pointer;
    
    
  }
  .col{
    background-color: mediumslateblue;
  }
  #search-results{
    overflow-y: scroll;
    max-height:300px;
    background-color: lightgrey;
    cursor: pointer;
  }
  
  #textinput{
    width:190px;
    border: 2px solid black;
  }
  
  /* #button{
    /* background-color: rgba(217, 210, 210, 0.82); */
  /* }  */


  @media screen and (max-width:320px){
    #search_container{
      position: absolute;
      z-index: 314159;
      max-width:190px; 
      max-height:800px;
      background-color: lightgrey;
      top: 80px;
      left: 5px;
      cursor: pointer;

    }   
      #remove-search{
        position:absolute;
        z-index: 315000;
        top: 180px;
        left: 5px
    
      }
    }