#map{
    height:800px;
    border:1px solid black 
  }
  
  .mytaxiIcon{
    text-align: center;
    /* Horizontally center the text (icon) */
    line-height: 20px;
    /* Vertically center the text (icon) */
    font-size: 20px
  }
  
  
  .myhawkerIcon {
    color: rgb(255, 183, 3);
    text-align: center;
    /* Horizontally center the text (icon) */
    line-height: 20px;
    /* Vertically center the text (icon) */
    font-size: 20px;
  }
  
  .myhotelIcon{
  color:rgb(251, 133, 0) ;
  text-align: center;
    /* Horizontally center the text (icon) */
  line-height: 20px;
    /* Vertically center the text (icon) */
    font-size: 20px;
  }
  
  #container{
    position: relative;
  }

  #toggle{
    position: absolute;
    z-index: 314159;
    max-width:200px; 
    max-height:800px;
    /* background-color: rgba(217, 210, 210, 0.82); */
    top: 5px;
    left: 50px;
    
  }
  
  #search_container{
    position: absolute;
    z-index: 314159;
    max-width:190px; 
    max-height:800px;
    background-color: lightgrey;
    top: 50px;
    left: 50px;
    
    
  }
  
  #search-results{
    overflow-y: scroll;
    max-height:400px;
  }
  
  #textinput{
    width:190px;
    border: 2px solid black;
  }
  
  /* #button{
    /* background-color: rgba(217, 210, 210, 0.82); */
  /* }  */